#inputForm {
  width: 50%;
  align-items: center;
  margin: auto;
}
form {
  width: 100%;
  padding: 10px;
  text-align: center;
}
#titleFormField {
  width: 73%;
}
#reviewFormField {
  width: 100%;
}
#reviewRatingField {
  width: 25%;
  font-size: 2.5vw;
  margin-left: 1%;
}
#nameFormField {
  width: 100%;
}
button {
  width: 50%;
  margin: 10px;
}
